<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Code Namer</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body ng-app="CodeNamer" ng-controller="codename">
  <header class="jumbotron">
    <div class="container">
      <h1>
        <small>Code Name</small>
        <span class="ng-cloak">{{final_name}}</span>
      </h1>
    </div>
  </header>

  <div class="container">
    <section class="panel panel-default">
      <form class="panel-body form-inline text-center">
        <div class="form-group" ng-repeat="i in [0,1,2]">
          <select class="form-control input-lg"
            ng-model="name_parts[i]"
            ng-init="name_parts[i] = initial_selection[i]"
            ng-options="cat.name for (key,cat) in categories"
            >
            <!--  -->
            <option value="">&mdash; Nope &mdash;</option>
            <!--<option ng-repeat="(key,cat) in categories" value="{{key}}" ng-selected="initial_selection[i] == key">
              {{cat.name}}
            </option> -->
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="final_name = newName(name_parts)">
            Generate!
          </button>
        </div>
      </form>
    </section>
  </div>

  <footer class="container">
    <p>
      An open source project by <a href="http://pascalhertleif.de">Pascal Hertleif</a>
    </p>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="categories.js"></script>
  <script src="app.js"></script>
</body>
</html>